* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
      }
      /* 516+ */
.header, .nav, .nav ul li, .lineInfo, footer  {
  background-color:#372f30  ;
}
.footer2 {
  background-color: #d3cbcb;
}
.footer2  {
  display: flex;
  justify-content: center;
 align-items: center;
}
footer p {
  color: #dedede;
  text-align: center;
}
body {font-family: sans-serif;}

main { margin: 0 auto; }

.article12 {background-color: whitesmoke;}
.article12 .flex div{ background-color: #fff;}

/* grid code for mobile first */
/* =====PAGE - #1 - MOBILE FIRST ================
================================================ */

/* 517-flex for header for mobile  */
/* .header {
  height: 150px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.header img.logo:hover {
  background-color:  rgba(255, 255, 255, 0.9);
}
.header img {margin: 1em;} */

/* boxes for mobile grid */
.boxes { 
  border: solid 8px #fff;   
  display: grid;
  grid-gap: 7px;
  grid-template-columns: 20% 80% ; /*repeat(2, 1fr);*/
  grid-template-rows: auto auto 100px auto auto auto 70px 30px auto auto 50px 50px;
      }
/*  mobile grid */
  .header     {grid-row: 1 / 2; grid-column: 1/-1;}
  .login1     {grid-row: 2 / 3; grid-column: 1/-1;} 
  .lineInfo        {grid-row: 3 / 4; grid-column: 1/-1;}
   /* 517 .lineInfo instead .nav */
  .search     {grid-row: 4 / 5; grid-column: 1/-1;}
  .carusel    {grid-row: 5 / 6; grid-column: 1 / -1;}
  .aside1     {grid-row: 7 / 8; grid-column: 1 /2;} 
  .aside2     {grid-row: 8 / 9; grid-column: 1 /-1;}
  .article12  {grid-row: 6 / 7; grid-column: 1 / -1;} 
  .section1   {grid-row: 7 / 8; grid-column: 2 / -1;}
  .section2   {grid-row: 9 / 10; grid-column: 1 / -1;}
  .footerLogo  {grid-row: 10 / 11; grid-column: 1/-1;}
  .login       {grid-row: 11 / 12; grid-column: 1/-1;}
  .footer2    {grid-row: 12 / 13; grid-column: 1 / -1;}
  .footer3    {grid-row: 13 / 14; grid-column: 1 / -1;}

/*aside, article, section, header, nav, footer {
border: 1px solid #ccc; }
background-color: salmon;-check grid-area  */

/* ------------search - under nav- mobile screen */ 
.search {
  margin: 10px 0;  
}
.search input {
  width: 95%;
  margin: 0 auto;
  padding: 0.7em;
}
/* button {
  background-color: #ccc;
  border: none; 
} */
.searchArticle12 {display: none;}
/* 517 */
.lineInfo {
  display: flex;
justify-content: center;
}
/* 516 search */
#searchProduct {
margin: .3em auto 0;
 text-align: center;
/* background-color: #aeaeae; */
padding: 10px;
width: 70%;
}

/*517 */
/* .footer3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 1em 0; 
     }  */

#searchProduct input {
width: 80%;
/* text-align: center; */
background-color: #fff;
}


/*  Code for navigation -Mobile*/
.nav ul {
  list-style-type: none;
  /* width: 100%; */
}
.nav ul {display: none;}
.nav li {
  /* width: 80%;  */
  border-bottom: solid 1px rgb(173, 164, 164);
  background-color: #dedede;
  padding: .5em;
  text-align: center; 
}
.nav li a{
      display: block;
      text-align: right; 
      text-decoration: none; 
      color:  rgb(173, 164, 164);
    }
/* 515for-input-checkbox */
nav input[type=checkbox] {
  display: none;}
nav input[type=checkbox]:checked ~ ul.menu {
  display: block;}

.showMenu {
  background-color: #dedede;
  border-bottom: 1px #fff solid;
  text-align:right;
  padding: 1em;
  color: #000;
  display: block;
  cursor: pointer;
  /* width: 50px; */
}

  /* .fa-chevron-circle-down {
  margin-left: .25em;
  font-size: 1.5em;} */

  /* header span {
  color: #999;
  font-size: .8em;
  margin-right: .25em;} */

.nav li:hover {   
  background-color: floralwhite; /*   antiquewhite;  #cee002; ;  #cecece; */ 
} 
nav label,#hamburger{display: none;} 
/*  end Code for navigation */ 

.aside0 {display: none;}

/* 516+ for placeholder section1 */
.section1 ul {display: none;}



/* =====PAGE -  #2 - mobile landscape SCREEN ================================  */
/* media quries - for screen more420px */
@media screen and (min-width: 420px) {

  aside, article, section, header, nav, footer {
  border: solid 1 px lightblue;      }
 /*background-color:#ededed; -check grid-area  */

      /* 515 */
  .flex>div {width: 46%;} 
  .flex {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
     justify-content: space-between;
      /* background: #ededed;  */
      flex-wrap: wrap;
      /* align-content:flex-start; */
     }  
  .flex {float: left;}
  /* .footer3 {
      background-color: #cee002;
  }
.flex3>div:last-child {padding-left: 0;}     */

}


/* =====PAGE - #3 - MEDIUM SCREEN /tablets===
============================================== */
/* media quries - for screen more640px */
@media screen and (min-width: 640px) {


  #asideBox {
      background-color:whitesmoke ;
      width: 80%;
      height: 100px;
      margin: 5px;
  }
  /*  medium screen- grid #3 */
 .aside0 {display: block;}
      .aside0     {grid-row: 6 / 7; grid-column: 1 /2;}
      .article12  {grid-row: 6 / 7; grid-column: 2 / -1;} 

/*  aside, article, section, header, nav, footer {
border:dotted 1px #dedede; }
background-color:#d3cbcb;-check grid-area  */

/* .header {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
} */
/* .header .logo {justify-content: start;} */
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
  /* flex-direction: space-between; */

/*  Code for navigation, large screen */
.nav ul {
      display: flex;
      flex-direction: row;
      /* align-items: left; */
      width: 60%;
     }    

.nav a.active {
  color:#fff;
}
.nav li:hover {   
  background-color: #372f30; 
} 
.nav li a:hover {
  color:blueviolet;
}
/* from mobile screen */
.showMenu {display: none;}

.nav a:visited {color:  gray; }
.nav label,#hamburger{display: none;}    

/* end code for nav*/

}

/* =====PAGE - #4 - LARGE SCREEN ==============
==============================================  */
/* media quries - for screen more770px */
/*WAS: @media screen and (min-width: 550px)  */



@media screen and (min-width: 770px) {  

.search {display: none;}
.searchArticle12 {display: block;}
.searchArticle12 input {
  width: 95%;
  margin: 15px auto;
  padding: 0.7em;
}

  /* 515 */
  .flex>div {width: 33%;}  
  .flex {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
     justify-content: space-between;
      /* background: #ededed;  */
      flex-wrap: wrap;
      align-content:flex-start;
     }  
  .flex {float: left;}

/* grid -big screen */
.boxes {
  border: solid 8px #fff;
  /* max-width: 1000px; */
  margin: 5px auto;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 50px auto auto auto 50px;
}
  .search     {grid-row: 2 / 3; grid-column: 1/-1;}
  .header    {grid-row: 1 / 2; grid-column: 1 / span 12;}
  .lineInfo  {grid-row: 2 / 3; grid-column: 1 / span 12;}
  /* 517 .lineInfo instead .nav */
  .carusel    {grid-row: 3 / 4; grid-column: 1 / span 12;}
  .aside0    {grid-row: 4 / 5; grid-column: 1 / span 2;}
  .aside1    {grid-row: 5 / 6; grid-column: 1 / span 2;}
  .aside2    {grid-row: 6 / 7; grid-column: 1 / span 2;}
  .article12  {grid-row: 4 / 5; grid-column: 3 / -1;} 
  /*516+ .carusel    {grid-row: 4 / 5; grid-column: 1 / span 12;} */
  .section1   {grid-row: 5 / 6; grid-column: 3 / span 10;}
  .section2  {grid-row: 6 / 7; grid-column: 3 / -1;}
  .footer2     {grid-row: 7 / 8; grid-column: 1 / span 12;}
  .footer3     {grid-row: 8 / 9; grid-column: 1 / span 12;}
  .login, .login1, .footerLogo  {display: none;} 

/*   aside, article, section, header, nav, footer {
background-color: lightblue;     }  */


/* 516+ for placeholder section1 */
.section1 ul {
  display: block;
  list-style-type: none;
  /* text-align: center; */
}
.section1 li {
  margin: 1em;
}
.section1 li {
      max-width: 25%;
      float: right;
  margin-right: .5em;
  }

} 



/*=====PAGE - #5 - x-LARGE SCREEN ===========
============================================= */
/* media quries - for screen more640px */
@media screen and (min-width: 1030px) {


main {max-width: 1400px;} 

/* 515 */
.flex>div {width: 24%;} 
 
/* 516+ */
#asideBox {
      width: 40%;
      float: left;
  }
 
  /* .flex {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
     justify-content: space-between;
      flex-wrap: wrap;
      align-content:flex-start;
     }  
  .flex {float: left;} */

footer {background-color:#d3cbcb;}
/* aside, article, section, header, nav, footer {
background-color:#d3cbcb;}-check grid-area  */


}