//clear float
.cl-clear-float{
    @include clearfix;
}
// float left
.cl-float-left{
    float: left;
    margin-right: 10px;
}
// float right
.cl-float-right{
    float: right;
    margin-left: 10px;
}
/* responsive image and other basic shapes */
.cl-img-fluid{
    max-width: 100%;
    height: auto;
   }
.cl-img-circle{ border-radius: 50%; }
.cl-img-soft{ border-radius: 5%;}
.cl-img-thumbnail{ width: 60px; height: 60px;}
.cl-img-outline{ outline: solid 1px $gray;}

  .cl-map-wrapper{
    margin: 0 auto;
    position: relative;
    padding-bottom: 75%; //h/w 300/400=.75
    height: 0;
    overflow: hidden;
    iframe{
        position: absolute;
        top: 0;
        left: 4%;
        max-width: 100%;
        max-height: 100%;
        border: 0;
    }
 }


/*   responsive video */
